<a href="https://colab.research.google.com/github/javvadisurekha/CA_Python/blob/main/Webscraping_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

conn = sqlite3.connect('Movies.db')
c = conn.cursor()

In [2]:
c.execute('''CREATE TABLE IF NOT EXISTS `twenties_movies` (id INTEGER PRIMARY KEY, rank INTEGER, title VARCHAR(255), year INTEGER, rating Real)''')

In [3]:
c.execute('Select * from twenties_movies')

In [4]:
id = 1 
rank = 2
title = 'Yashoda'
year = 2022
rating = 8

In [5]:
c.execute('''Insert into twenties_movies values(?,?,?,?,?)''',(id,rank,title,year,rating))
conn.commit()

In [6]:
c.execute('''Select * from twenties_movies''')
results = c.fetchall()
print(results)

[(1, 2, 'Yashoda', 2022, 8.0)]

In [7]:
from bs4 import BeautifulSoup
import requests

In [8]:
url = "https://www.cineworld.ie/#/buy-tickets-by-cinema?in-cinema=0001&at=2022-12-12&view-mode=list"

In [9]:
page = requests.post(url)