<a href="https://colab.research.google.com/github/javvadisurekha/CA_Python/blob/main/Webscraping_IMDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
url = "https://www.imdb.com/list/ls051601789/"

In [ ]:
response = requests.get(url)

In [ ]:
response

In [ ]:
#response.content

In [ ]:
soup = BeautifulSoup(response.content,"html.parser")

In [ ]:
contents = soup.find_all("div",class_="lister-item-content")

In [ ]:
len(contents)

100

In [ ]:
headers = soup.find_all("h3",class_ = "lister-item-header")

In [ ]:
len(headers)

100

In [ ]:
headings = []
sl_nos = []
years = []
for header in headers:
  sl_no = header.find("span",class_ = "lister-item-index").text
  heading = header.find("a").text
  year = header.find("span",class_="lister-item-year").text

In [ ]:
print(headings)
print(sl_nos)
print(years)

[]
[]
[]

In [19]:
info=[]
for header in headers:
  record={}
  record['sl_no']=header.find("span",class_ = "lister-item-index").text
  record['heading']=header.find("a").text
  record['year']=header.find("span",class_="lister-item-year").text
  info.append(record)

In [20]:
info

[{'sl_no': '1.', 'heading': 'Pulp Fiction', 'year': '(1994)'},
 {'sl_no': '2.', 'heading': 'Memento', 'year': '(2000)'},
 {'sl_no': '3.', 'heading': 'Big Fish', 'year': '(2003)'},
 {'sl_no': '4.', 'heading': 'The Pianist', 'year': '(2002)'},
 {'sl_no': '5.', 'heading': 'Reservoir Dogs', 'year': '(1992)'},
 {'sl_no': '6.', 'heading': 'Terminator 2: Judgment Day', 'year': '(1991)'},
 {'sl_no': '7.', 'heading': 'Snatch', 'year': '(2000)'},
 {'sl_no': '8.', 'heading': 'Bicycle Thieves', 'year': '(1948)'},
 {'sl_no': '9.', 'heading': 'Braveheart', 'year': '(1995)'},
 {'sl_no': '10.', 'heading': 'Warrior', 'year': '(2011)'},
 {'sl_no': '11.', 'heading': 'The Machinist', 'year': '(2004)'},
 {'sl_no': '12.', 'heading': 'Limitless', 'year': '(I) (2011)'},
 {'sl_no': '13.', 'heading': 'Jackie Brown', 'year': '(1997)'},
 {'sl_no': '14.', 'heading': 'Manhattan', 'year': '(1979)'},
 {'sl_no': '15.', 'heading': 'Good Will Hunting', 'year': '(1997)'},
 {'sl_no': '16.',
  'heading': 'Eternal Sunshine of the Spotless Mind',
  'year': '(2004)'},
 {'sl_no': '17.', 'heading': 'Drive', 'year': '(I) (2011)'},
 {'sl_no': '18.', 'heading': 'Trainspotting', 'year': '(1996)'},
 {'sl_no': '19.', 'heading': 'From Dusk Till Dawn', 'year': '(1996)'},
 {'sl_no': '20.', 'heading': 'Downfall', 'year': '(2004)'},
 {'sl_no': '21.', 'heading': 'Raising Arizona', 'year': '(1987)'},
 {'sl_no': '22.', 'heading': 'Mulholland Drive', 'year': '(2001)'},
 {'sl_no': '23.', 'heading': 'Ip Man', 'year': '(2008)'},
 {'sl_no': '24.', 'heading': 'Rain Man', 'year': '(1988)'},
 {'sl_no': '25.', 'heading': 'The Lincoln Lawyer', 'year': '(2011)'},
 {'sl_no': '26.', 'heading': "Miller's Crossing", 'year': '(1990)'},
 {'sl_no': '27.', 'heading': 'Tucker and Dale vs Evil', 'year': '(2010)'},
 {'sl_no': '28.', 'heading': 'Escape from Alcatraz', 'year': '(1979)'},
 {'sl_no': '29.', 'heading': 'In the Name of the Father', 'year': '(1993)'},
 {'sl_no': '30.', 'heading': 'Ronin', 'year': '(1998)'},
 {'sl_no': '31.', 'heading': 'The Last of the Mohicans', 'year': '(1992)'},
 {'sl_no': '32.', 'heading': 'The Karate Kid', 'year': '(1984)'},
 {'sl_no': '33.', 'heading': 'The Grey', 'year': '(2011)'},
 {'sl_no': '34.', 'heading': 'True Grit', 'year': '(2010)'},
 {'sl_no': '35.', 'heading': 'Black Hawk Down', 'year': '(2001)'},
 {'sl_no': '36.', 'heading': 'Lost in Translation', 'year': '(2003)'},
 {'sl_no': '37.', 'heading': 'Platoon', 'year': '(1986)'},
 {'sl_no': '38.', 'heading': 'Oldboy', 'year': '(2003)'},
 {'sl_no': '39.', 'heading': 'The Lady Vanishes', 'year': '(1938)'},
 {'sl_no': '40.', 'heading': 'The Man from Nowhere', 'year': '(2010)'},
 {'sl_no': '41.', 'heading': "The King's Speech", 'year': '(2010)'},
 {'sl_no': '42.',
  'heading': 'The Girl with the Dragon Tattoo',
  'year': '(2009)'},
 {'sl_no': '43.', 'heading': 'Following', 'year': '(1998)'},
 {'sl_no': '44.', 'heading': 'Battle Royale', 'year': '(2000)'},
 {'sl_no': '45.', 'heading': 'Barton Fink', 'year': '(1991)'},
 {'sl_no': '46.', 'heading': 'Let the Right One In', 'year': '(2008)'},
 {'sl_no': '47.', 'heading': 'Jarhead', 'year': '(2005)'},
 {'sl_no': '48.', 'heading': 'End of Watch', 'year': '(2012)'},
 {'sl_no': '49.', 'heading': 'Gandhi', 'year': '(1982)'},
 {'sl_no': '50.', 'heading': 'Audition', 'year': '(1999)'},
 {'sl_no': '51.', 'heading': 'The Artist', 'year': '(I) (2011)'},
 {'sl_no': '52.', 'heading': 'My Left Foot', 'year': '(1989)'},
 {'sl_no': '53.', 'heading': 'I Saw the Devil', 'year': '(2010)'},
 {'sl_no': '54.', 'heading': 'Sympathy for Mr. Vengeance', 'year': '(2002)'},
 {'sl_no': '55.', 'heading': 'Exam', 'year': '(2009)'},
 {'sl_no': '56.', 'heading': '21 Grams', 'year': '(2003)'},
 {'sl_no': '57.', 'heading': 'The Untouchables', 'year': '(1987)'},
 {'sl_no': '58.', 'heading': 'The Game', 'year': '(1997)'},
 {'sl_no': '59.', 'heading': 'The Hunt for Red October', 'year': '(1990)'},
 {'sl_no': '60.', 'heading': 'The Evil Dead', 'year': '(1981)'},
 {'sl_no': '61.', 'heading': 'Fearless', 'year': '(2006)'},
 {'sl_no': '62.', 'heading': 'Poolhall Junkies', 'year': '(2002)'},
 {'sl_no': '63.', 'heading': "Ferris Bueller's Day Off", 'year': '(1986)'},
 {'sl_no': '64.', 'heading': "What's Eating Gilbert Grape", 'year': '(1993)'},
 {'sl_no': '65.', 'heading': '13 Assassins', 'year': '(2010)'},
 {'sl_no': '66.',
  'heading': "The Girl Who Kicked the Hornet's Nest",
  'year': '(2009)'},
 {'sl_no': '67.', 'heading': 'Trollhunter', 'year': '(2010)'},
 {'sl_no': '68.', 'heading': 'Ip Man 2', 'year': '(2010)'},
 {'sl_no': '69.', 'heading': 'The Double', 'year': '(I) (2011)'},
 {'sl_no': '70.', 'heading': 'Big Daddy', 'year': '(1999)'},
 {'sl_no': '71.', 'heading': 'Highlander', 'year': '(1986)'},
 {'sl_no': '72.', 'heading': 'The War', 'year': '(1994)'},
 {'sl_no': '73.',
  'heading': 'The Girl Who Played with Fire',
  'year': '(2009)'},
 {'sl_no': '74.', 'heading': 'Margin Call', 'year': '(2011)'},
 {'sl_no': '75.', 'heading': 'Top Gun', 'year': '(1986)'},
 {'sl_no': '76.', 'heading': 'Liar Liar', 'year': '(1997)'},
 {'sl_no': '77.', 'heading': 'Act of Valor', 'year': '(2012)'},
 {'sl_no': '78.', 'heading': 'Along Came a Spider', 'year': '(2001)'},
 {'sl_no': '79.', 'heading': 'Clerks', 'year': '(1994)'},
 {'sl_no': '80.', 'heading': 'The Hunger Games', 'year': '(2012)'},
 {'sl_no': '81.', 'heading': 'Session 9', 'year': '(2001)'},
 {'sl_no': '82.', 'heading': 'Thor', 'year': '(2011)'},
 {'sl_no': '83.', 'heading': "The Devil's Double", 'year': '(2011)'},
 {'sl_no': '84.', 'heading': 'Goon', 'year': '(2011)'},
 {'sl_no': '85.', 'heading': 'The Awakening', 'year': '(I) (2011)'},
 {'sl_no': '86.', 'heading': 'Boy Wonder', 'year': '(2010)'},
 {'sl_no': '87.', 'heading': 'Sling Blade', 'year': '(1996)'},
 {'sl_no': '88.', 'heading': 'Haywire', 'year': '(2011)'},
 {'sl_no': '89.', 'heading': 'Citizen Gangster', 'year': '(2011)'},
 {'sl_no': '90.',
  'heading': 'Captain America: The First Avenger',
  'year': '(2011)'},
 {'sl_no': '91.', 'heading': 'The Escapist', 'year': '(2008)'},
 {'sl_no': '92.', 'heading': 'Killer Elite', 'year': '(2011)'},
 {'sl_no': '93.', 'heading': 'Blitz', 'year': '(2011)'},
 {'sl_no': '94.', 'heading': 'Identity', 'year': '(2003)'},
 {'sl_no': '95.', 'heading': 'Vanilla Sky', 'year': '(2001)'},
 {'sl_no': '96.', 'heading': 'Traffic', 'year': '(2000)'},
 {'sl_no': '97.', 'heading': 'Safety Not Guaranteed', 'year': '(2012)'},
 {'sl_no': '98.', 'heading': 'Super 8', 'year': '(2011)'},
 {'sl_no': '99.', 'heading': 'The Raven', 'year': '(I) (2012)'},
 {'sl_no': '100.', 'heading': 'All Good Things', 'year': '(2010)'}]

In [21]:
import pandas as pd

In [22]:
df = pd.DataFrame(info)

In [23]:
df

   sl_no                heading        year
0     1.           Pulp Fiction      (1994)
1     2.                Memento      (2000)
2     3.               Big Fish      (2003)
3     4.            The Pianist      (2002)
4     5.         Reservoir Dogs      (1992)
..   ...                    ...         ...
95   96.                Traffic      (2000)
96   97.  Safety Not Guaranteed      (2012)
97   98.                Super 8      (2011)
98   99.              The Raven  (I) (2012)
99  100.        All Good Things      (2010)

[100 rows x 3 columns]