<a href="https://colab.research.google.com/github/javvadisurekha/CA_Python/blob/main/WebScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests
import openpyxl
import pandas as pd

In [ ]:
# working with excel using 'openpyxl' module
excel = openpyxl.Workbook()
sheet = excel.active
sheet.title = "Top 250 Movies"
sheet.append(["Movie Rank", "Movie Name", "Year of Release", "Rating"])


# requesting source website using 'request' module
source = requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')

# Creating BeautifulSoup Object
soup = BeautifulSoup(source.text, 'html.parser')

In [ ]:
# Fetching Movies details form soup object
movies_list = soup.find('tbody', class_="lister-list").find_all('tr')
for movie in movies_list:
  name = movie.find('td', class_="titleColumn").a.text
  rank =  movie.find('td', class_="titleColumn").get_text(strip = True).split('.')[0]
  year = movie.find('td', class_="titleColumn").span.text.strip('()')
  rating = movie.find('td', class_="ratingColumn").strong.text

# appending data to excel file 
  sheet.append([rank, name, year, rating])

excel.save('Top 250 Movie.xlsx')

In [4]:
import sqlite3

# import "itertools" to perform forloop on multiple lists at one time 
import itertools

# Creating SQLITE3 Database
db = sqlite3.connect('movies.db')
cur = db.cursor()

# creating dataframe using "pandas"
df = pd.read_excel('Top 250 Movie.xlsx')
df.dropna()

     Movie Rank                Movie Name  Year of Release  Rating
0             1  The Shawshank Redemption             1994     9.2
1             2             The Godfather             1972     9.2
2             3           The Dark Knight             2008     9.0
3             4     The Godfather Part II             1974     9.0
4             5              12 Angry Men             1957     9.0
..          ...                       ...              ...     ...
245         246               Dersu Uzala             1975     8.0
246         247                   Aladdin             1992     8.0
247         248            The Iron Giant             1999     8.0
248         249                  The Help             2011     8.0
249         250                    Gandhi             1982     8.0

[250 rows x 4 columns]