<a href="https://colab.research.google.com/github/javvadisurekha/CA_Python/blob/main/WebScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from bs4 import BeautifulSoup
import requests
import openpyxl
import pandas as pd

In [2]:
# working with excel using 'openpyxl' module
excel = openpyxl.Workbook()
sheet = excel.active
sheet.title = "Top 250 Movies"
sheet.append(["Movie Rank", "Movie Name", "Year of Release", "Rating"])


# requesting source website using 'request' module
source = requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')

# Creating BeautifulSoup Object
soup = BeautifulSoup(source.text, 'html.parser')

In [3]:
# Fetching Movies details form soup object
movies_list = soup.find('tbody', class_="lister-list").find_all('tr')
for movie in movies_list:
  name = movie.find('td', class_="titleColumn").a.text
  rank =  movie.find('td', class_="titleColumn").get_text(strip = True).split('.')[0]
  year = movie.find('td', class_="titleColumn").span.text.strip('()')
  rating = movie.find('td', class_="ratingColumn").strong.text

# appending data to excel file 
  sheet.append([rank, name, year, rating])

excel.save('Top 250 Movie.xlsx')

In [4]:
import sqlite3

# import "itertools" to perform forloop on multiple lists at one time 
import itertools

# Creating SQLITE3 Database
db = sqlite3.connect('movies.db')
cur = db.cursor()

# creating dataframe using "pandas"
df = pd.read_excel('Top 250 Movie.xlsx')
df.dropna()

     Movie Rank                Movie Name  Year of Release  Rating
0             1  The Shawshank Redemption             1994     9.2
1             2             The Godfather             1972     9.2
2             3           The Dark Knight             2008     9.0
3             4     The Godfather Part II             1974     9.0
4             5              12 Angry Men             1957     9.0
..          ...                       ...              ...     ...
245         246               Dersu Uzala             1975     8.0
246         247                   Aladdin             1992     8.0
247         248            The Iron Giant             1999     8.0
248         249                  The Help             2011     8.0
249         250                    Gandhi             1982     8.0

[250 rows x 4 columns]

In [14]:
# max rating
max_rating = df['Rating'].max()
max_id = df['Rating'].idxmax()
max_name = df.loc[max_id]['Movie Name']

In [15]:
# min rating
min_rating = df['Rating'].min()
min_id = df['Rating'].idxmin()
min_name = df.loc[min_id]['Movie Name']

In [16]:
# oldest movie name and year
oldest_movie = df['Year of Release'].min()
old_id = df['Year of Release'].idxmin()
old_name = df.loc[old_id]['Movie Name']

In [17]:
# Newest movie name and year
newest_movie = df['Year of Release'].max()
new_id = df['Year of Release'].idxmax()
new_name = df.loc[new_id]['Movie Name']

In [18]:
#Printing Data

print(f"----------------------------\nMaximum Rating : {max_name} {max_rating}")
print(f"Minimum Rating : {min_name} {min_rating}")
print(f"Oldest Movie : {old_name} {oldest_movie}")
print(f"Newest Movie : {new_name} {newest_movie}\n-----------------------------")

----------------------------
Maximum Rating : The Shawshank Redemption 9.2
Minimum Rating : Ford v Ferrari 8.0
Oldest Movie : The Kid 1921
Newest Movie : Top Gun: Maverick 2022
-----------------------------

In [19]:
# Ninties Movie Data Filtering --------------------------------

movie_old = df['Year of Release'] < 2000

data_dict = df[movie_old].to_dict()

movies_90s = data_dict['Movie Name']
movie_rank = []
movie_name = []
movie_year = []
movie_rating = []

for key, value in data_dict['Movie Rank'].items():
    movie_rank.append(value)

for key, value in data_dict['Movie Name'].items():
    movie_name.append(value)

for key, value in data_dict['Year of Release'].items():
    movie_year.append(value)

for key, value in data_dict['Rating'].items():
    movie_rating.append(value)

# ------------------------------------------

In [20]:
# Table Creation for ninties movies
cur.execute('''CREATE TABLE IF NOT EXISTS `ninties_movies` (id INTEGER PRIMARY KEY, rank INTEGER, title VARCHAR(255), year INTEGER, rating Real)''')

for (a,b,c,d) in zip(movie_rank, movie_name, movie_year, movie_rating):
    # replacing ' from Movie Names
    b = b.replace("'","")

    # CommentIn this if Data Already Inserted before another Run
cur.execute(f"INSERT INTO `ninties_movies` ( `rank`, `title`, `year`, `rating`) VALUES ( {a}, '{b}', {c}, {d})" )

In [21]:
# Twenties Movie Data Filtering --------------------------------

movie_new = df['Year of Release'] >= 2000

data_dict_new = df[movie_new].to_dict()

movies_90s = data_dict['Movie Name']

# Lists to store different column data into individually
movie_rank_new = []
movie_name_new = []
movie_year_new = []
movie_rating_new = []

for key, value in data_dict_new['Movie Rank'].items():
    movie_rank_new.append(value)

for key, value in data_dict_new['Movie Name'].items():
    movie_name_new.append(value)

for key, value in data_dict_new['Year of Release'].items():
    movie_year_new.append(value)

for key, value in data_dict_new['Rating'].items():
    movie_rating_new.append(value)

In [25]:
# Table Creation for twenties movies
cur.execute('''CREATE TABLE IF NOT EXISTS `twenties_movies` (id INTEGER PRIMARY KEY, rank INTEGER, title VARCHAR(255), year INTEGER, rating Real)''')

for (a,b,c,d) in zip(movie_rank_new, movie_name_new, movie_year_new, movie_rating_new):
    # replacing ' from Movie Names
    b = b.replace("'","")

    # CommentIn this if Data Already Inserted before another Run
cur.execute(f"INSERT INTO `twenties_movies` ( `rank`, `title`, `year`, `rating`) VALUES ( {a}, '{b}', {c}, {d})" )
    
db.commit()

In [28]:
# Table Creation for twenties movies
cur.execute('''CREATE TABLE IF NOT EXISTS `twenties_movies` (id INTEGER PRIMARY KEY, rank INTEGER, title VARCHAR(255), year INTEGER, rating Real)''')

for i in range(len(df)):
  
      # CommentIn this if Data Already Inserted before another Run
       cur.execute(f"INSERT INTO `twenties_movies` ( `rank`, `title`, `year`, `rating`) VALUES ( {a}, '{b}', {c}, {d})" )
    
db.commit()

In [29]:
cur.execute('''SELECT * FROM twenties_movies''')
results = cur.fetchall()
print(results)

[(1, 249, 'The Help', 2011, 8.0), (2, 249, 'The Help', 2011, 8.0), (3, 249, 'The Help', 2011, 8.0), (4, 249, 'The Help', 2011, 8.0), (5, 249, 'The Help', 2011, 8.0), (6, 249, 'The Help', 2011, 8.0), (7, 249, 'The Help', 2011, 8.0), (8, 249, 'The Help', 2011, 8.0), (9, 249, 'The Help', 2011, 8.0), (10, 249, 'The Help', 2011, 8.0), (11, 249, 'The Help', 2011, 8.0), (12, 249, 'The Help', 2011, 8.0), (13, 249, 'The Help', 2011, 8.0), (14, 249, 'The Help', 2011, 8.0), (15, 249, 'The Help', 2011, 8.0), (16, 249, 'The Help', 2011, 8.0), (17, 249, 'The Help', 2011, 8.0), (18, 249, 'The Help', 2011, 8.0), (19, 249, 'The Help', 2011, 8.0), (20, 249, 'The Help', 2011, 8.0), (21, 249, 'The Help', 2011, 8.0), (22, 249, 'The Help', 2011, 8.0), (23, 249, 'The Help', 2011, 8.0), (24, 249, 'The Help', 2011, 8.0), (25, 249, 'The Help', 2011, 8.0), (26, 249, 'The Help', 2011, 8.0), (27, 249, 'The Help', 2011, 8.0), (28, 249, 'The Help', 2011, 8.0), (29, 249, 'The Help', 2011, 8.0), (30, 249, 'The Help', 2011, 8.0), (31, 249, 'The Help', 2011, 8.0), (32, 249, 'The Help', 2011, 8.0), (33, 249, 'The Help', 2011, 8.0), (34, 249, 'The Help', 2011, 8.0), (35, 249, 'The Help', 2011, 8.0), (36, 249, 'The Help', 2011, 8.0), (37, 249, 'The Help', 2011, 8.0), (38, 249, 'The Help', 2011, 8.0), (39, 249, 'The Help', 2011, 8.0), (40, 249, 'The Help', 2011, 8.0), (41, 249, 'The Help', 2011, 8.0), (42, 249, 'The Help', 2011, 8.0), (43, 249, 'The Help', 2011, 8.0), (44, 249, 'The Help', 2011, 8.0), (45, 249, 'The Help', 2011, 8.0), (46, 249, 'The Help', 2011, 8.0), (47, 249, 'The Help', 2011, 8.0), (48, 249, 'The Help', 2011, 8.0), (49, 249, 'The Help', 2011, 8.0), (50, 249, 'The Help', 2011, 8.0), (51, 249, 'The Help', 2011, 8.0), (52, 249, 'The Help', 2011, 8.0), (53, 249, 'The Help', 2011, 8.0), (54, 249, 'The Help', 2011, 8.0), (55, 249, 'The Help', 2011, 8.0), (56, 249, 'The Help', 2011, 8.0), (57, 249, 'The Help', 2011, 8.0), (58, 249, 'The Help', 2011, 8.0), (59, 249, 'The Help', 2011, 8.0), (60, 249, 'The Help', 2011, 8.0), (61, 249, 'The Help', 2011, 8.0), (62, 249, 'The Help', 2011, 8.0), (63, 249, 'The Help', 2011, 8.0), (64, 249, 'The Help', 2011, 8.0), (65, 249, 'The Help', 2011, 8.0), (66, 249, 'The Help', 2011, 8.0), (67, 249, 'The Help', 2011, 8.0), (68, 249, 'The Help', 2011, 8.0), (69, 249, 'The Help', 2011, 8.0), (70, 249, 'The Help', 2011, 8.0), (71, 249, 'The Help', 2011, 8.0), (72, 249, 'The Help', 2011, 8.0), (73, 249, 'The Help', 2011, 8.0), (74, 249, 'The Help', 2011, 8.0), (75, 249, 'The Help', 2011, 8.0), (76, 249, 'The Help', 2011, 8.0), (77, 249, 'The Help', 2011, 8.0), (78, 249, 'The Help', 2011, 8.0), (79, 249, 'The Help', 2011, 8.0), (80, 249, 'The Help', 2011, 8.0), (81, 249, 'The Help', 2011, 8.0), (82, 249, 'The Help', 2011, 8.0), (83, 249, 'The Help', 2011, 8.0), (84, 249, 'The Help', 2011, 8.0), (85, 249, 'The Help', 2011, 8.0), (86, 249, 'The Help', 2011, 8.0), (87, 249, 'The Help', 2011, 8.0), (88, 249, 'The Help', 2011, 8.0), (89, 249, 'The Help', 2011, 8.0), (90, 249, 'The Help', 2011, 8.0), (91, 249, 'The Help', 2011, 8.0), (92, 249, 'The Help', 2011, 8.0), (93, 249, 'The Help', 2011, 8.0), (94, 249, 'The Help', 2011, 8.0), (95, 249, 'The Help', 2011, 8.0), (96, 249, 'The Help', 2011, 8.0), (97, 249, 'The Help', 2011, 8.0), (98, 249, 'The Help', 2011, 8.0), (99, 249, 'The Help', 2011, 8.0), (100, 249, 'The Help', 2011, 8.0), (101, 249, 'The Help', 2011, 8.0), (102, 249, 'The Help', 2011, 8.0), (103, 249, 'The Help', 2011, 8.0), (104, 249, 'The Help', 2011, 8.0), (105, 249, 'The Help', 2011, 8.0), (106, 249, 'The Help', 2011, 8.0), (107, 249, 'The Help', 2011, 8.0), (108, 249, 'The Help', 2011, 8.0), (109, 249, 'The Help', 2011, 8.0), (110, 249, 'The Help', 2011, 8.0), (111, 249, 'The Help', 2011, 8.0), (112, 249, 'The Help', 2011, 8.0), (113, 249, 'The Help', 2011, 8.0), (114, 249, 'The Help', 2011, 8.0), (115, 249, 'The Help', 2011, 8.0), (116, 249, 'The Help', 2011, 8.0), (117, 249, 'The Help', 2011, 8.0), (118, 249, 'The Help', 2011, 8.0), (119, 249, 'The Help', 2011, 8.0), (120, 249, 'The Help', 2011, 8.0), (121, 249, 'The Help', 2011, 8.0), (122, 249, 'The Help', 2011, 8.0), (123, 249, 'The Help', 2011, 8.0), (124, 249, 'The Help', 2011, 8.0), (125, 249, 'The Help', 2011, 8.0), (126, 249, 'The Help', 2011, 8.0), (127, 249, 'The Help', 2011, 8.0), (128, 249, 'The Help', 2011, 8.0), (129, 249, 'The Help', 2011, 8.0), (130, 249, 'The Help', 2011, 8.0), (131, 249, 'The Help', 2011, 8.0), (132, 249, 'The Help', 2011, 8.0), (133, 249, 'The Help', 2011, 8.0), (134, 249, 'The Help', 2011, 8.0), (135, 249, 'The Help', 2011, 8.0), (136, 249, 'The Help', 2011, 8.0), (137, 249, 'The Help', 2011, 8.0), (138, 249, 'The Help', 2011, 8.0), (139, 249, 'The Help', 2011, 8.0), (140, 249, 'The Help', 2011, 8.0), (141, 249, 'The Help', 2011, 8.0), (142, 249, 'The Help', 2011, 8.0), (143, 249, 'The Help', 2011, 8.0), (144, 249, 'The Help', 2011, 8.0), (145, 249, 'The Help', 2011, 8.0), (146, 249, 'The Help', 2011, 8.0), (147, 249, 'The Help', 2011, 8.0), (148, 249, 'The Help', 2011, 8.0), (149, 249, 'The Help', 2011, 8.0), (150, 249, 'The Help', 2011, 8.0), (151, 249, 'The Help', 2011, 8.0), (152, 249, 'The Help', 2011, 8.0), (153, 249, 'The Help', 2011, 8.0), (154, 249, 'The Help', 2011, 8.0), (155, 249, 'The Help', 2011, 8.0), (156, 249, 'The Help', 2011, 8.0), (157, 249, 'The Help', 2011, 8.0), (158, 249, 'The Help', 2011, 8.0), (159, 249, 'The Help', 2011, 8.0), (160, 249, 'The Help', 2011, 8.0), (161, 249, 'The Help', 2011, 8.0), (162, 249, 'The Help', 2011, 8.0), (163, 249, 'The Help', 2011, 8.0), (164, 249, 'The Help', 2011, 8.0), (165, 249, 'The Help', 2011, 8.0), (166, 249, 'The Help', 2011, 8.0), (167, 249, 'The Help', 2011, 8.0), (168, 249, 'The Help', 2011, 8.0), (169, 249, 'The Help', 2011, 8.0), (170, 249, 'The Help', 2011, 8.0), (171, 249, 'The Help', 2011, 8.0), (172, 249, 'The Help', 2011, 8.0), (173, 249, 'The Help', 2011, 8.0), (174, 249, 'The Help', 2011, 8.0), (175, 249, 'The Help', 2011, 8.0), (176, 249, 'The Help', 2011, 8.0), (177, 249, 'The Help', 2011, 8.0), (178, 249, 'The Help', 2011, 8.0), (179, 249, 'The Help', 2011, 8.0), (180, 249, 'The Help', 2011, 8.0), (181, 249, 'The Help', 2011, 8.0), (182, 249, 'The Help', 2011, 8.0), (183, 249, 'The Help', 2011, 8.0), (184, 249, 'The Help', 2011, 8.0), (185, 249, 'The Help', 2011, 8.0), (186, 249, 'The Help', 2011, 8.0), (187, 249, 'The Help', 2011, 8.0), (188, 249, 'The Help', 2011, 8.0), (189, 249, 'The Help', 2011, 8.0), (190, 249, 'The Help', 2011, 8.0), (191, 249, 'The Help', 2011, 8.0), (192, 249, 'The Help', 2011, 8.0), (193, 249, 'The Help', 2011, 8.0), (194, 249, 'The Help', 2011, 8.0), (195, 249, 'The Help', 2011, 8.0), (196, 249, 'The Help', 2011, 8.0), (197, 249, 'The Help', 2011, 8.0), (198, 249, 'The Help', 2011, 8.0), (199, 249, 'The Help', 2011, 8.0), (200, 249, 'The Help', 2011, 8.0), (201, 249, 'The Help', 2011, 8.0), (202, 249, 'The Help', 2011, 8.0), (203, 249, 'The Help', 2011, 8.0), (204, 249, 'The Help', 2011, 8.0), (205, 249, 'The Help', 2011, 8.0), (206, 249, 'The Help', 2011, 8.0), (207, 249, 'The Help', 2011, 8.0), (208, 249, 'The Help', 2011, 8.0), (209, 249, 'The Help', 2011, 8.0), (210, 249, 'The Help', 2011, 8.0), (211, 249, 'The Help', 2011, 8.0), (212, 249, 'The Help', 2011, 8.0), (213, 249, 'The Help', 2011, 8.0), (214, 249, 'The Help', 2011, 8.0), (215, 249, 'The Help', 2011, 8.0), (216, 249, 'The Help', 2011, 8.0), (217, 249, 'The Help', 2011, 8.0), (218, 249, 'The Help', 2011, 8.0), (219, 249, 'The Help', 2011, 8.0), (220, 249, 'The Help', 2011, 8.0), (221, 249, 'The Help', 2011, 8.0), (222, 249, 'The Help', 2011, 8.0), (223, 249, 'The Help', 2011, 8.0), (224, 249, 'The Help', 2011, 8.0), (225, 249, 'The Help', 2011, 8.0), (226, 249, 'The Help', 2011, 8.0), (227, 249, 'The Help', 2011, 8.0), (228, 249, 'The Help', 2011, 8.0), (229, 249, 'The Help', 2011, 8.0), (230, 249, 'The Help', 2011, 8.0), (231, 249, 'The Help', 2011, 8.0), (232, 249, 'The Help', 2011, 8.0), (233, 249, 'The Help', 2011, 8.0), (234, 249, 'The Help', 2011, 8.0), (235, 249, 'The Help', 2011, 8.0), (236, 249, 'The Help', 2011, 8.0), (237, 249, 'The Help', 2011, 8.0), (238, 249, 'The Help', 2011, 8.0), (239, 249, 'The Help', 2011, 8.0), (240, 249, 'The Help', 2011, 8.0), (241, 249, 'The Help', 2011, 8.0), (242, 249, 'The Help', 2011, 8.0), (243, 249, 'The Help', 2011, 8.0), (244, 249, 'The Help', 2011, 8.0), (245, 249, 'The Help', 2011, 8.0), (246, 249, 'The Help', 2011, 8.0), (247, 249, 'The Help', 2011, 8.0), (248, 249, 'The Help', 2011, 8.0), (249, 249, 'The Help', 2011, 8.0), (250, 249, 'The Help', 2011, 8.0), (251, 249, 'The Help', 2011, 8.0), (252, 249, 'The Help', 2011, 8.0), (253, 249, 'The Help', 2011, 8.0)]

In [27]:
cur.execute('''SELECT * FROM ninties_movies''')
results = cur.fetchall()
print(results)

[(1, 250, 'Gandhi', 1982, 8.0)]