<a href="https://colab.research.google.com/github/javvadisurekha/CA_Python/blob/main/Webscraping_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

conn = sqlite3.connect('Movies.db')
c = conn.cursor()

In [ ]:
c.execute('''CREATE TABLE IF NOT EXISTS `twenties_movies` (id INTEGER PRIMARY KEY, rank INTEGER, title VARCHAR(255), year INTEGER, rating Real)''')

In [ ]:
c.execute('Select * from twenties_movies')

In [ ]:
id = 1 
rank = 2
title = 'Yashoda'
year = 2022
rating = 8

In [ ]:
c.execute('''Insert into twenties_movies values(?,?,?,?,?)''',(id,rank,title,year,rating))
conn.commit()

In [ ]:
c.execute('''Select * from twenties_movies''')
results = c.fetchall()
print(results)

[(1, 2, 'Yashoda', 2022, 8.0)]

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
url = "https://www.cineworld.ie/#/buy-tickets-by-cinema?in-cinema=0001&at=2022-12-12&view-mode=list"

In [ ]:
page = requests.post(url)

In [12]:
soup = BeautifulSoup(page.content, 'html.parser')
lists = soup.find_all('section' ,class_="qb-movie-name")

In [ ]:
title = lists.find('a'class_)

IMDB

In [13]:
from bs4 import BeautifulSoup
import requests

In [14]:
url = "https://www.imdb.com/chart/top/?ref_=nv_mv_250"

In [15]:
page = requests.get(url)

In [16]:
soup = BeautifulSoup(page.content, 'html.parser')
movies_lists = soup.find_all('tbody', class_= "lister-list")

In [17]:
for movie in movies_lists:
  name = movie.find('td', class_="titleColumn").a.text
  rank =  movie.find('td', class_="titleColumn").get_text(strip = True).split('.')[0]
  year = movie.find('td', class_="titleColumn").span.text.strip('()')
  rating = movie.find('td', class_="ratingColumn").strong.text

# appending data to excel file 
  sheet.append([rank, name, year, rating])

excel.save('Top 250 Movie.xlsx')

NameError: ignored